body {
    padding: 50px;
    font-family: sans-serif;
    background-color: #eee;
}
a {
    text-decoration: none;
    color: inherit;  /* parent color */
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs li {
    float: left;
    display: block;
}

/* décoller les tab content des onglets avec clearfix */
.tabs::after{
    display: table;
    content: ' ';
    clear: both;
}

.tabs a {
    display: inline-block;
    background-color: #666;
    padding: 10px 15px;
}

.tabs .active a {
    background-color: white;

}

.tabs-content {
    padding: 20px;
    background-color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.fade {
    opacity: 0;
    transition: opacity 1s;
}

.fade.in {
    opacity: 1;
}